@page
@model DeleteModel
@inject SignInManager<VODUser> SignInManager
@{
    ViewData["Title"] = "Delete User";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>@ViewData["Title"]</h1>
            <partial name="_BackToIndexButtonsPartial" />
            <hr />
            <dl class="row">
                <dt class="col-md-2"><label asp-for="Input.Id"></label></dt>
                <dd class="col-md-10">@Model.Input.Id</dd>
                <dt class="col-md-2"><label asp-for="Input.Email"></label></dt>
                <dd class="col-md-10">@Model.Input.Email</dd>
                <dt class="col-md-2"><label asp-for="Input.IsAdmin"></label></dt>
                <dd class="col-md-10">@Model.Input.IsAdmin</dd>
            </dl>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.Email" />
                <input type="hidden" asp-for="Input.IsAdmin" />

                <button type="submit" class="btn btn-success">Delete</button>
            </form>
        </div>
    </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}